<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diagnosis Result</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/image1.png') }}" alt="Pneumonia Detection Logo" id="logo">
    </header>

    <main>
        <h2>Diagnosis: No Pneumonia</h2>
        <p>You don't have pneumonia. If you're feeling unwell, consult a healthcare professional for further evaluation.</p>
    </main>
</body>
</html>
